{{ $author := .Get "author" }}
{{ $title  := .Get "title" }}
{{ $image  := .Get "image" }}
{{ $pixel  := .Get "pixel" }}
<div class="quote-with-author">
  <blockquote>{{ .Inner | markdownify }}</blockquote>
  <div class="quote-attribution">
    {{ if $image }}
    <img src="{{ $image }}" alt="{{ $author }}" class="quote-avatar{{ if $pixel }} quote-avatar--pixel{{ end }}">
    {{ else }}
    <div class="quote-avatar-initials">
      {{ if $author }}{{ substr $author 0 2 | upper }}{{ end }}
    </div>
    {{ end }}
    <div class="quote-meta">
      <span class="quote-name">{{ $author }}</span>
      <span class="quote-role">{{ $title }}</span>
    </div>
  </div>
</div>
