{{ $author := .Get "author" }}
{{ $title  := .Get "title" }}
{{ $image  := .Get "image" }}
{{ $pixel  := .Get "pixel" }}
<div class="quote-with-author">
  <blockquote>{{ .Inner | markdownify }}</blockquote>
  <div class="quote-attribution">
    {{ if $image }}
    <img src="{{ $image }}" alt="{{ $author }}" class="quote-avatar{{ if $pixel }} quote-avatar--pixel{{ end }}">
    {{ else }}
    <div class="quote-avatar-initials">
      {{ if $author }}{{ $words := slice }}{{ range split (trim $author " \t\n") " " }}{{ if ne . "" }}{{ $words = $words | append . }}{{ end }}{{ end }}{{ $ini := "" }}{{ if ge (len $words) 1 }}{{ $ini = substr (index $words 0) 0 1 }}{{ end }}{{ if ge (len $words) 2 }}{{ $ini = printf "%s%s" $ini (substr (index $words 1) 0 1) }}{{ end }}{{ $ini | upper }}{{ end }}
    </div>
    {{ end }}
    <div class="quote-meta">
      <span class="quote-name">{{ $author }}</span>
      <span class="quote-role">{{ $title }}</span>
    </div>
  </div>
</div>
